# Sample of .env file
BOT_TOKEN = 'your_bot_token'

USER = 'your_user'
PASSWORD = 'your_password'
HOST = 'your_host'
PORT = 'your_port'
DATABASE = 'your_database'
# EXTERNAL_URI = "postgres://your_user:your_password@your_host/your_database"
